/* Back to top */
.backToTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  visibility: hidden;
  opacity: 0;
  i {
    color: #0BBBCC;
    border: 2px solid #0BBBCC;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    line-height: 36px;
    border-radius: 50%
  }
}

