.partners{
    background: url('../imgdow/opened-book-4278.svg') 0/30%  no-repeat,linear-gradient(61deg,$color-purple,$color-blue-1 41%);
    background-blend-mode: overlay;
    height: 325px;
    text-align: center;
    display: flex;
    align-items: center;
}